@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    background-color: rgb(19, 17, 17);
    font-family: "Lato", sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1{
    font-size: 48px;
    font-weight: 700;
  }

  .btn-danger{
    background-color: #E71800 !important;
  }

  .report a{
    font-weight: bold;
  }

  .navbar-brand p{
    font-weight: bold;
  }

  .nav-item a{
    font-weight: bold;
  }

.bg-red a{
    font-weight: bolder;
}

/* .join{
    margin-left: 13.5rem;
} */


/* history section */

#history{
    background-color: rgb(161, 236, 211);
}

.historyArea{
    background-color: whitesmoke;
    height: 350px;
    margin-right: -40px;
    padding-top: 30px;
    padding-right: 2rem;
    padding-left: 1.5rem;
}

.historyImage{
    padding-top: 50px;
    width: 350px;
    margin-left: -20px;
    z-index: 50;
    position: relative;
}


/* work section */

#work{
    background-color:  rgb(219, 197, 168);
}

.workArea{
    background-color: whitesmoke;
    height: 460px;
    margin-right: -35px;
    padding-top: 30px;
    padding-right: 2rem;
    padding-left: 1.5rem;
}

.workImage{
    padding-top: 100px;
    width: 350px;
    margin-left: -10px;
    z-index: 50;
    position: relative;
}

/* impact section */

#impact{
    background-color:  rgb(161, 236, 211);
}

.impactArea{
    background-color: whitesmoke;
    height: 460px;
    margin-right: -50px;
    padding-top: 30px;
    padding-right: 2rem;
    padding-left: 1.5rem;
}

.impactImage{
    padding-top: 45px;
    width: 350px;
    margin-left: -40px;
    z-index: 50;
    position: relative;
}

#impact p{
    margin-left: 1rem;
}





/* team section */

#team{
    background-color:  rgb(219, 197, 168);
}

.teamArea{
    background-color: rgb(161, 236, 211);
    height: 460px;
    margin-right: -40px;
    padding-top: 30px;
    padding-right: 2rem;
    padding-left: 1.5rem;
}

.teamImage{
    padding-top: 40px;
    width: 350px;
    margin-left: -20px;
    z-index: 50;
    position: relative;
}
section h3{
    font-weight: bold;
}

span{
    font-weight: 500;
}

#impact img{
    border: 1px red;
}




/* media query */
@media screen and (max-width: 1200px) {
    .container{
        background-size: 1200px 100vh;
    }
}

@media screen and (max-width: 992px) {
    .container{
        background-size: 992px 100vh;
    }
}

@media screen and (max-width: 768px) {
    .container{
        background-size: 768px 100vh;
    }

    #history p{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .historyImage{
        margin-left: 4.1rem;
        margin-right: 3rem;
        padding-top: 0;
        text-align: center;
    }

    #work p{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .workImage{
        margin-left: 4.1rem;
        margin-right: 3rem;
        padding-top: 0;
        text-align: center;
    }

    #impact p{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .impactImage{
        margin-left: 4.1rem;
        margin-right: 3rem;
        padding-top: 0;
        text-align: center;
    }

    #team p{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .teamImage{
        margin-left: 4.1rem;
        margin-right: 3rem;
        padding-top: 0;
        text-align: center;
    }

    
    .mt-3{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: center;
    }

    .mt-3 img{
        padding-right: 1.5rem;
    }

    .why{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .container{
        background-size: 576px 100vh;
    }

    #history p{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .historyImage{
        /* margin-left: 4.1rem; */
        margin-right: 3rem;
        padding-top: 1rem;
        /* text-align: center; */
    }

    #work p{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .workImage{
        margin-left: 4.1rem;
        margin-right: 3rem;
        padding-top: 0;
        text-align: center;
    }

    #impact p{
        padding-left: 1rem;
        padding-right: 1.5rem;
        margin-left: 1rem;
    }

    .impactImage{
        margin-left: 4.1rem;
        margin-right: 3rem;
        padding-top: 0;
        text-align: center;
    }

    #impact img{
        margin-left: 1.5rem;
    }


    #team p{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .teamImage{
        margin-left: 4.1rem;
        margin-right: 3rem;
        padding-top: 0;
        text-align: center;
    }
    
    .mt-3{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: center;
    }

    .mt-3 img{
        padding-right: 1.5rem;
    }

    .why{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: center;
    }
}